* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $background-primary;
    color: #1a1a1a;
    font-family: 'Work Sans', Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
}